# -----------------------------------------------------------------------------
#- Alhambra II constraint file (.pcf)
#- By Juan Gonzalez (Obijuan) and Jesus Arroyo Torrens and DrTrigon
#- May - 2018 and Jan - 2019
#- GPL license
#- Repo: https://github.com/FPGAwars/Alhambra-II-FPGA
# -----------------------------------------------------------------------------


# ------------ User Leds ------------------------------------------------------
set_io --warn-no-port led[0] 45  # output()
set_io --warn-no-port led[1] 44 # output
set_io --warn-no-port led[2] 43 # output
set_io --warn-no-port led[3] 42 # output
set_io --warn-no-port led[4] 41 # output
set_io --warn-no-port led[5] 39 # output
set_io --warn-no-port led[6] 38 # output
set_io --warn-no-port led[7] 37 # output

# -------------------------- SYSTEM CLOCK -------------------------------------
set_io --warn-no-port clk 49  # input

# --- Flash memory (SPI)
set_io --warn-no-port flash_csb   71  # output (SS)
set_io --warn-no-port flash_miso  68  # input (MISO)
set_io --warn-no-port flash_mosi  67  # output (MOSI)
set_io --warn-no-port flash_clk   70  # output (SCK)
#
# --- FTDI 1: (Serial port)
set_io --warn-no-port ftdi_rxd  61  # output (ser-tx)
set_io --warn-no-port ftdi_txd  62  # input (ser-rx)
